
<%- include ('../partials/header.ejs') %>
    <body>
        <div class="header">
            <div class="container">
                <div class="navbar">
                    <div class="logo">
                        <img src="images/logo.png" width="125px">
                    </div>
                    <%- include ('../partials/navbars.ejs') %>

                </div>
                <div class="row">
                    <div class="col-2">
                        <h1>Give Your Workout <br> A New Style!</h1>
                        <p>Success isn't always about greatness. Its's about consistency. Consistent <br> hard work
                            gains
                            success. greatness will come.
                        </p>
                        <a href="/products" class="btn">Explore Now &#8594;</a>
                    </div>
                    <div class="col-2">
                        <img src="images/image1.png">
                    </div>
                </div>
            </div>
        </div>
        <!------Featured Categories------>
        <div class="categories">
            <div class="small-container">
                <div class="row">
                    <div class="col-3">
                        <img src="images/category-1.jpg">
                    </div>
                    <div class="col-3">
                        <img src="images/category-2.jpg">
                    </div>
                    <div class="col-3">
                        <img src="images/category-3.jpg">
                    </div>
                </div>
            </div>
        </div>

        <!-----Featured Products---->

        <!--offers-->
        
<%- include('../partials/homePagePar/homePageOffer.ejs') %>

        <!---testimonial-->


        <%- include('../partials/homePagePar/blogs.ejs') %>
        <!--brands-->

      

        <!---footer-->
        
        <%- include ('../partials/footer.ejs') %>
       
            <script src=""></script>
    </body>

</html>